imports in the code section below

In [4]:
# add imports below
import pandas

In [5]:
df = pandas.read_csv('../data/atlantis.csv')
df.describe()

              year    population
count    22.000000     22.000000
mean   2010.500000  21459.045455
std       6.493587   8550.009471
min    2000.000000     99.000000
25%    2005.250000  14550.000000
50%    2010.500000  21600.000000
75%    2015.750000  27750.000000
max    2021.000000  33800.000000